In [26]:
char=input("enter a char\n")
print("you have entered the charecter :",char)

you have entered the charecter : hi

In [27]:
a=input("Enter the value of a ")
b=input("Enter the value of b ")
sum=float(a) + float(b)
print("sum of a and b is :",sum)

sum of a and b is : 55.0

In [28]:
p=input("Enter the value of p")
r=input("enter the value of r")
n=input("enter the value of n")
si=(int(p)*float(r)*float(n))/100
print(si)

2.07

In [38]:
mark=input("Enter the maarks")
if int(mark) <=50:
    print("Failed")
else :
    print("Passed")

Failed

In [30]:
num=input("Enter the input")

for i in range(10):
    print(int(num),"X",i+1,"=",int(num)*(i+1))

23 X 1 = 23
23 X 2 = 46
23 X 3 = 69
23 X 4 = 92
23 X 5 = 115
23 X 6 = 138
23 X 7 = 161
23 X 8 = 184
23 X 9 = 207
23 X 10 = 230

In [31]:
n=input("Enter the size")
for i in range(int(n)):
    for j in  range(i):
        print(j)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10
11
0
1
2
3
4
5
6
7
8
9
10
11
12
0
1
2
3
4
5
6
7
8
9
10
11
12
13
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [32]:
a = [1, 2, 3]
print(type(a))  # Output: <class 'list'>

# Rename the variable to something other than 'set'
s = set(a)
print(type(s))  # Output: <class 'set'>3

<class 'list'>
<class 'set'>

In [33]:
list('Hello')

['H', 'e', 'l', 'l', 'o']