In [54]:
print("Hello World")

Hello World

Indentation
(Four Space for indentation)

In [55]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Multiple Line Statement use () or \

In [56]:
a=1+2+ \
    3+4+5+\
        6+7
print(a)

28

In [57]:
a=(1+2+
   3+4+5
   +6+7)
print(a)

28

Variables and assignment

In [58]:
a=10
b=12.3
c="hello"
#in single line
j,k,l=2,3.5,"hi"
#same value to differrent variables
x=y=z=100
print(y)
print(c)
print(k)

100
hello
3.5

Storage or address of a variable

In [59]:
p=20
#it prints the address of the variable
print(id(p))

4304274256

Datatypes ,  everything in python is object

In [60]:
a=5; b=3.4; c="hello"

print(a, "is the data type of ", type(a))

print(b, "is the data type of ", type(b))

print(c, "is the data type of ", type(c))

5 is the data type of  <class 'int'>
3.4 is the data type of  <class 'float'>
hello is the data type of  <class 'str'>

In [61]:
a=i+3j
print(a)
print(isinstance(i+3j,complex))
print(type(a))

(9+3j)
True
<class 'complex'>

-1 refers to the last  letter of a word in a string and array

In [62]:
name="nivin mathew s"
print(name[-1])

#slicing

print(name[5:])
print(name[5:-1])
print(name[2:5])

s
 mathew s
 mathew
vin

Python List :
it can Contain objects of any datatypes and we can change it any time

In [63]:
list=[10,2,3,"nivin"]
print(list)
print(list[1])
list[1]=4.5
print(list[1])

[10, 2, 3, 'nivin']
2
4.5

Tuple (it is similar to list but the only difference is we cannot change the value later)

In [64]:
tup=(1,2.3,"four")
print(tup)
print(tup[1])

(1, 2.3, 'four')
2.3

Set is a unorderd collection of objects

Set doesnot support indexing

set only prints unique elements

In [65]:
#set
st={1,2,2,3,3,4,5,6}
print(st)

{1, 2, 3, 4, 5, 6}

Dictionary

it stores key-value pairs in an unordered way
we can access the dictionary elements by indexing the key

In [66]:
dic={'a':"apple", 'b':"bananna",'c':"cat"}
print(dic)
print(dic['b'])

{'a': 'apple', 'b': 'bananna', 'c': 'cat'}
bananna

conversion

In [67]:
print(float(10))
print(int(3.5))
print(str(99))

10.0
3
99

valueError (Invalid literals)

if you try to convert int(10p) then this is invalid literals

In [68]:
print(int('10p'))

ValueError: invalid literal for int() with base 10: '10p'

converting a list to set

a = [1, 2, 3]
print(type(a))  # Output: <class 'list'>

# Rename the variable to something other than 'set'
s = set(a)
print(type(s))  # Output: <class 'set'>

list('Hello')

output: ['H', 'e', 'l', 'l', 'o']

Python Output

In [70]:
a=10
print("value of a is ",a)
print("value of a is "+str(a))

value of a is  10
value of a is 10

Output Formatting

In [74]:
a=10; b=20
print("The value of a={} and b={}".format(a,b))

The value of a=10 and b=20

In [75]:
a=10; b=20
print("The value of a={1} and b={0}".format(b,a))

The value of a=10 and b=20

In [80]:
name="nivin"
print("First name={} and last name={lname} and other{}".format(name,lname="mathew","S"))

First name=nivin and last name=mathew