In [54]:
print("Hello World")

Hello World

Indentation
(Four Space for indentation)

In [55]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Multiple Line Statement use () or \

In [56]:
a=1+2+ \
    3+4+5+\
        6+7
print(a)

28

In [57]:
a=(1+2+
   3+4+5
   +6+7)
print(a)

28

Variables and assignment

In [58]:
a=10
b=12.3
c="hello"
#in single line
j,k,l=2,3.5,"hi"
#same value to differrent variables
x=y=z=100
print(y)
print(c)
print(k)

100
hello
3.5

Storage or address of a variable

In [59]:
p=20
#it prints the address of the variable
print(id(p))

4304274256

Datatypes ,  everything in python is object

In [60]:
a=5; b=3.4; c="hello"

print(a, "is the data type of ", type(a))

print(b, "is the data type of ", type(b))

print(c, "is the data type of ", type(c))

5 is the data type of  <class 'int'>
3.4 is the data type of  <class 'float'>
hello is the data type of  <class 'str'>

In [61]:
a=i+3j
print(a)
print(isinstance(i+3j,complex))
print(type(a))

(9+3j)
True
<class 'complex'>

-1 refers to the last  letter of a word in a string and array

In [62]:
name="nivin mathew s"
print(name[-1])

#slicing

print(name[5:])
print(name[5:-1])
print(name[2:5])

s
 mathew s
 mathew
vin

Python List :
it can Contain objects of any datatypes and we can change it any time

In [63]:
list=[10,2,3,"nivin"]
print(list)
print(list[1])
list[1]=4.5
print(list[1])

[10, 2, 3, 'nivin']
2
4.5

Tuple (it is similar to list but the only difference is we cannot change the value later)

In [64]:
tup=(1,2.3,"four")
print(tup)
print(tup[1])

(1, 2.3, 'four')
2.3

Set is a unorderd collection of objects

Set doesnot support indexing

set only prints unique elements

In [65]:
#set
st={1,2,2,3,3,4,5,6}
print(st)

{1, 2, 3, 4, 5, 6}

Dictionary

it stores key-value pairs in an unordered way
we can access the dictionary elements by indexing the key

In [66]:
dic={'a':"apple", 'b':"bananna",'c':"cat"}
print(dic)
print(dic['b'])

{'a': 'apple', 'b': 'bananna', 'c': 'cat'}
bananna

conversion

In [67]:
print(float(10))
print(int(3.5))
print(str(99))

10.0
3
99

valueError (Invalid literals)

if you try to convert int(10p) then this is invalid literals

In [68]:
print(int('10p'))

ValueError: invalid literal for int() with base 10: '10p'

converting a list to set

a = [1, 2, 3]
print(type(a))  # Output: <class 'list'>

# Rename the variable to something other than 'set'
s = set(a)
print(type(s))  # Output: <class 'set'>

list('Hello')

output: ['H', 'e', 'l', 'l', 'o']

Python Output

In [70]:
a=10
print("value of a is ",a)
print("value of a is "+str(a))

value of a is  10
value of a is 10

Output Formatting

In [74]:
a=10; b=20
print("The value of a={} and b={}".format(a,b))

The value of a=10 and b=20

In [87]:
a=10; b=20
print("The value of a={1} and b={0}".format(b,a))

The value of a=10 and b=20

In [86]:
name="nivin"
print("First name={1} and last name={lname} and other {0}".format('S',name,lname="mathew"))

First name=nivin and last name=mathew and other S

Operators

   #arithmatic

In [85]:

print(10+2)
#floor 
print(10//3)
#Exponent(power)
print(2**4)

12
3
16

Comparision Operators   >,<,==,!=,>=,<=

Logical operators

In [84]:
a,b=True,False
print(a and b)
print(a or b)
print(not b)

False
True
True

Bitwise Operator &, |,~,^,>>,<<

In [90]:
a,b=10,4
#Bitwise AND
print(a&b)
#Bitwise OR
print(a|b)
#Bitwise NOR
print(~b)
#Bitwise XOR
print(a^b)
#Bitwise rightshift
print(a>>b)
#Bitwise leftshift
print(a<<b)

0
14
-5
14
0
160

Assignment operators

In [91]:
a=10
a+=10
a-=10
a*=10
a/=10
a%=10
a//=10
a**=10

Identity operator

In [95]:
a=1
b=1
print(a is b)
#its true only for num and string
n="nivin"
m="nivin"
print(n is m)
print(n is not m)

True
True
False

In [96]:
a1=[1,2,3]
a2=[1,2,3]
print(a1 is a2)
print(a1 is not a2)

False
True

Membership Operator

In [100]:
arr=[1,2,3,4]
print(1 in arr)
dictr={1:"apple",2:"banana"}
print(1 in dictr)
print(1 not in dictr)

True
True
False

Flow controll statement

In [109]:
#if
num=20
num2=100
if num>10:
    print("greater")
else:
    print("lesser")    
# elif
if num>20:
    print("greater")
elif num<100:
    print("lesser") 
else:
    print("Zero")  
    
#other possible ways    
if(num>10) and (num==10):
    print("greater")
    
    
#fghjhg
if(num>10) or (num==10):
    print("greater")

greater
lesser
greater

Looping statement

In [110]:
li=[1,4,3]
for i in li:
    print(i)

1
4
3

In [112]:
#range function
for i in range(4):
    print(i)

0
1
2
3

In [121]:
#print fron 1 to 20 with step size of 2
for i in range(1,20,2):
    print(i)
else:
    print("no items left")

1
3
5
7
9
11
13
15
17
19
no items left

while loop

In [123]:
#while
lst=[10,20,30,40,50]
product=1
index=0
while index<len(lst):
    product *= lst[index]
    print(product)   
    index +=1
else:
    print("loop over")

10
200
6000
240000
12000000
loop over

Break and Continue

In [ ]:
#break
#continue

In [153]:
#string split
s="hi my name is nivin mathew s"
print(s.split())

['hi', 'my', 'name', 'is', 'nivin', 'mathew', 's']

Data Structurs in python

Lists

In [124]:
#list is mutalble which means it can be canged any time
#it can contain datas of multiple datatype
emptylist=[]
#list of sting,int,lists,diff datatypes
lst1=[[1,2],[3,4]]
print(lst1)

[[1, 2], [3, 4]]

In [126]:
#list length
list=[1,2,3]
print(len(list))

3

In [129]:
#List append
lst=[1,2]
lst.append(3)
print(lst)
lst.append("hi")
print(lst)

[1, 2, 3]
[1, 2, 3, 'hi']

In [132]:
#List insert
lst=[1,2,4]
lst.insert(2,"three")
print(lst)

[1, 2, 'three', 4]

In [134]:
#List Remove
lst=[1,2,4,2]
#it only removes first accurance
lst.remove(2)
print(lst)

[1, 4, 2]

In [135]:
#List Extend
lst1=[1,2,3]
lst2=[4,5,6]
lst1.extend(lst2)
print(lst1)

[1, 2, 3, 4, 5, 6]

In [137]:
#List delete and pop
lst=[1,2,3,4,5]
print(lst)
del lst[0]
print(lst)
a=lst.pop(-1)
print(lst)
print(a)

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[2, 3, 4]
5

In [142]:
#List Keywords 
ldt=["one","two","three"]
if "two" in ldt:
    print("YES")
    
if "four" not in ldt:
    print("Yes")

YES
Yes

In [143]:
#List Reverse
ldt=["one","two","three"]
ldt.reverse()
print(ldt)

['three', 'two', 'one']

In [146]:
#List Sorting
ldt=[6,3,6,2,9,1]
print(sorted(ldt))
#decendin order
print(sorted(ldt,reverse=True))
ldt.sort()
print(ldt)

[1, 2, 3, 6, 6, 9]
[9, 6, 6, 3, 2, 1]
[1, 2, 3, 6, 6, 9]

In [156]:
#List indexing
ldt=[6,3,6,2,9,1]
print(ldt[-1])
print(ldt[3])

1
2

In [163]:
#List slicing
lst=[456,435,657,3421,563,536,436]
#terms   : first element, end element and stepsize
#print all num
print(lst[:])
#print from 0 to 3
print(lst[0:3])
#print alternate elements in as list
print(lst[::2])
#print alternate elements from start
print(lst[2::2])

[456, 435, 657, 3421, 563, 536, 436]
[456, 435, 657]
[456, 657, 563, 436]
[657, 563, 436]

In [166]:
#List extend usinf +
lst1=[1,2,3,4]
lst2=[5,6,7]
lst1+=lst2
print(lst1)

[1, 2, 3, 4, 5, 6, 7]

In [169]:
#find the count of duplicate element
lst1=[1,2,3,4,2,3]
print(lst1.count(3))

2

In [171]:
#List Looping
lst1=[1,2,3,4,2,3]
for ele in lst1:
    print(ele)

1
2
3
4
2
3

In [172]:
#List comperehension
'''insted of writing 
sqr=[]
for i in range(10)
   sqr.append(i**2)
print(sqr)
'''
sqr=[i**2 for i in range(10)]
print(sqr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [174]:
#Neasted List Comprehension or 2d comprehension

matrix=[
    [1,2,3,4],[5,6,7,8],[9,10,11,12]
]
transpose=[[row[i] for row in matrix] for i in range(4)]
print(transpose)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

Tuples

we cannot add, remove or delete an element from tuple

Its similar to list

Tuples are immutable which means it cannot be edited

In [175]:
#Empty tuple
t=()
t=(1,2,3)
#nested tuple : it can contain tuple inside a tuple and a list inside
t=(1,(2,3,4),[1,'nivin',23])
print(t)

(1, (2, 3, 4), [1, 'nivin', 23])

In [176]:
#mistakes in interview questions
t=('nivin') #this is a string
tr=('nivin',) #this is a tuple
print(type(t))
print(type(tr))

<class 'str'>
<class 'tuple'>

In [179]:
#nested tuple indexing
t=(1,(2,3,4),[1,'nivin',23])
print(t[2][1])

nivin

In [ ]:
#slice is similar to list
#sort is same as list
#length also same
#a tuple is mutable but if a list present in side tuple it can be changed

In [181]:
#concatinating tuple
#two ways
#1
t=(1,2,3)+(3,4,5)
print(t)
tr=(('nivin',)*4)
print(tr)

(1, 2, 3, 3, 4, 5)
('nivin', 'nivin', 'nivin', 'nivin')

In [183]:
#tuple deletion
t=(1,2)
#we cant remove single element in tuple
#we can remove full tuple
del t

In [185]:
#tuple count or find duplicate element count
t=(1,2,2,3,4)
print(t.count(2))

2

In [187]:
#tuple index
t=(2,4,5,6,1,4)
print(t.index(4)) #it will show the first index of the element

1

In [188]:
#tuple membership
#to check if the element is presdent in the tuple or not
t=(2,4,5,6,1,4)
print(1 in t)
print(1 not in t)

True
False

In [189]:
#built-in funtion
#math functions
t=(2,4,5,6,1,4)
print(max(t))
print(min(t))
print(sum(t))

6
1
22

Sets

In [ ]:
#sets are unorderd
#it cannot be indexed
#set itself is mutable we can add or remove items from it
#sets can be used to perform mathematical set operations like uniion, intersection , symmetric difference etc
#set doesnot allow duplicate elements

In [190]:
#set creation
s={1,2,3,4}
print(s)

{1, 2, 3, 4}

In [193]:
se={1,2,3,2,4} #duplicate elements are neglected
print(se)

{1, 2, 3, 4}

In [196]:
#we can make set ffrpm a list
s=set([1,2,3,1])
print(s)

TypeError: 'set' object is not callable

In [200]:
#initiallising set
s = set()
print(type(s))

TypeError: 'set' object is not callable

In [201]:
#add element to set
s={1,2}
s.add(3)
print(s)

{1, 2, 3}

In [202]:
#add multiple elements to set
s.update([4,5,6])
print(s)

{1, 2, 3, 4, 5, 6}

In [204]:
#add list and set
s.update([7,8],{9,10})
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [205]:
#remove an element from list
s.discard(4)
print(s)

{1, 2, 3, 5, 6, 7, 8, 9, 10}

In [206]:
#remove element
s.remove(2)
print(s)

{1, 3, 5, 6, 7, 8, 9, 10}

In [211]:
#pop
s={1,2,3,4,5,6}
s.pop()
print(s)

{2, 3, 4, 5, 6}

In [212]:
#crear : remove all the elements from a set
a={1,2,3}
print(a)
a.clear()
print(a)

{1, 2, 3}
set()

Set operations

In [214]:
#union
set1={1,2,3}
set2={3,4,5}
print(set1 | set2)
#or another way
print(set1.union(set2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [216]:
#intersection
print(set1 & set2)
#or
print(set1.intersection(set2))

{3}
{3}

In [218]:
#set difference:
#items present in a but not b
print(set1-set2)

{1, 2}

In [220]:
#symetric difference
#(AuB)-(AnB)
#it removes common element of both the array
print(set1^set2)
#or
print(set1.symmetric_difference(set2))

{1, 2, 4, 5}
{1, 2, 4, 5}

In [221]:
#find is-subset
set3={3,4}
print(set3.issubset(set2))

True

In [223]:
#frozen set  : it does not supports add or remove it supports u , n etc
set4=frozenset([1,2,3,4])
set5=frozenset([3,4,5,6])
set4.add(7)

AttributeError: 'frozenset' object has no attribute 'add'

Dictionary or hashtable

In [ ]:
#unordered collection of objects
#it has key and valau

Strings

In [224]:
#dictionary with integers
dit={1:'abc',2:'xyz'}
print(dit)
#dictionary with mixed keys
dit={'name':'stish',4:'rahul',5:["abc","xyz"]}
print(dit)
#create an empty dictionary
mydict=dict()
#list of tuples
mydict=dict([(1,'abc'),(2,'xyz')])
print(mydict)

{1: 'abc', 2: 'xyz'}
{'name': 'stish', 4: 'rahul', 5: ['abc', 'xyz']}
{1: 'abc', 2: 'xyz'}

In [227]:
#dictionary accessing
#this method will print key error if a key is printing but its not there in the dictionary
print(dit['name'])
#other way
# .get method is better because it will not show any errors is key is not present in dictionary
print(dit.get(4))

stish
rahul

In [228]:
#change the value
dit['name']="varun"
print(dit)
#to add new ke value
dit['address']="Bangalore"
print(dit)

{'name': 'varun', 4: 'rahul', 5: ['abc', 'xyz']}
{'name': 'varun', 4: 'rahul', 5: ['abc', 'xyz'], 'address': 'Bangalore'}

In [237]:
#delete or remove element
dit={'name':'stish',4:'rahul',5:["abc","xyz"],6:"hi",7:"hid"}
#remove a particular item
print(dit.pop(4))
print(dit)
#remove randon key-value pairs in the dictionary
dit.popitem()
print(dit)

rahul
{'name': 'stish', 5: ['abc', 'xyz'], 6: 'hi', 7: 'hid'}
{'name': 'stish', 5: ['abc', 'xyz'], 6: 'hi'}

In [239]:
dit={'name':'stish',4:'rahul',5:["abc","xyz"],6:"hi",7:"hid"}
#delete particular key
del dit[4]
print(dit)
#remove all item
dit.clear()
print(dit)
#remove the dictionary
del dit

{'name': 'stish', 5: ['abc', 'xyz'], 6: 'hi', 7: 'hid'}
{}

In [240]:
#Dictionary methods
#copy
dit={'name':'stish',4:'rahul',5:["abc","xyz"],6:"hi",7:"hid"}
dit2=dit.copy()
print(dit2)

{'name': 'stish', 4: 'rahul', 5: ['abc', 'xyz'], 6: 'hi', 7: 'hid'}

In [243]:
#formkey
#it is used to add a list to a dictionary and add values equally
subj={}.fromkeys(['math','English','Hindi'],0)
print(subj)

{'math': 0, 'English': 0, 'Hindi': 0}

In [244]:
#it prints dict items in new view (key,value)
app={2:4,3:9,4:16,5:25}
print(app.items())

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [245]:
#it prints dict keys
app={2:4,3:9,4:16,5:25}
print(app.keys())

dict_keys([2, 3, 4, 5])

In [246]:
#it prints dict values
app={2:4,3:9,4:16,5:25}
print(app.values())

dict_values([4, 9, 16, 25])